<div class="navigation sticky-top">

<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="navbar-brand" href="#">
      <img src="https://s3-us-west-2.amazonaws.com/fotosmlv/ivan/homeview/img/logo-in.png" width="120" height="50" class="d-inline-block align-top" alt="" loading="lazy">
    </a>
  </li>
    <li class="nav-item">
      <a class="nav-link active" [routerLink]="['/home']" routerLinkActive="router-link-active"  >Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/sign-in']" routerLinkActive="router-link-active" >Sign-in</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/log-in']" routerLinkActive="router-link-active" >Log-in</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/inventory']" routerLinkActive="router-link-active" >Inventory</a>
      </li>
  </ul>
</div>