div.navigation {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 10px;
  font-size: 20px;
  font-family: "Tomorrow", sans-serif;
}
a {
  color: black;
}

ul {
  background: rgb(88, 88, 88);
  background: radial-gradient(
    circle,
    rgba(88, 88, 88, 0.3) 0%,
    rgba(176, 176, 176, 0.3029586834733894) 50%,
    rgba(88, 88, 88, 0.3) 100%
  );
}
