<style>
  @import url("https://fonts.googleapis.com/css2?family=Tomorrow&display=swap");
</style>
<div class="navigation sticky-top">
  <ul class="nav">
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/home']"
        routerLinkActive="router-link-active"
        ><span class="material-icons"> home </span>Home
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/sign-in']"
        routerLinkActive="router-link-active"
        ><span class="material-icons"> supervisor_account </span>Register
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/inventory']"
        routerLinkActive="router-link-active"
        ><span class="material-icons"> article </span>Account List
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"><mat-icon matBadge="2">notifications</mat-icon> </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"><mat-icon matBadge="2">insert_comment</mat-icon> </a>
    </li>
  </ul>
</div>
