div.navigation {
  font-family: "Tomorrow", sans-serif;
}
a {
  color: black;
  display: inline-flex;
  font-size: 20px;
  margin: 10px 5px 8px 25px;
}

ul {
  background: rgb(233, 233, 233);
  background: linear-gradient(
    90deg,
    rgba(233, 233, 233, 0.896796218487395) 0%,
    rgba(233, 233, 233, 0.8995973389355743) 100%
  );
  -webkit-box-shadow: 4px 3px 18px 0px rgba(125, 125, 125, 0.48);
  -moz-box-shadow: 4px 3px 18px 0px rgba(125, 125, 125, 0.48);
  box-shadow: 4px 3px 18px 0px rgba(125, 125, 125, 0.48);
}
li.toolbar {
  padding-left: 100px;
  padding-top: 11px;
  padding-right: 50px;
}
span {
  color: rgba(29, 27, 27, 0.623);
}
