<mat-card class="container signin">
  <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{ !isLinear ? "Enable linear mode" : "Disable linear mode" }}
  </button>
  <mat-vertical-stepper [linear]="isLinear" #stepper (ngSubmit)="onSubmit()">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Fill out your name</ng-template>
        <mat-form-field>
          <mat-label>First Name</mat-label>
          <input
            matInput
            placeholder="First name"
            formControlName="firstName"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input
            matInput
            placeholder="Last name"
            formControlName="lastName"
            required
          />
        </mat-form-field>

        <!-- EMAIL -->

        <mat-form-field class="example-half-width">
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            formControlName="email"
            placeholder="Ex. pat@example.com"
          />
          <mat-error *ngIf="f.email.invalid && !f.email.required">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="!f.email.required">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <!-- CONFIRM EMAIL -->
        <mat-form-field class="example-half-width">
          <mat-label>Confirm your Email</mat-label>
          <input
            type="email"
            matInput
            formControlName="emailConfirm"
            placeholder="Ex. pat@example.com"
          />
          <mat-error
            *ngIf="f.emailConfirm.invalid && !f.emailConfirm.mustMatch"
          >
            Please confirm your email address
          </mat-error>
          <mat-error *ngIf="!f.emailConfirm.required">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <!-- END EMAIL SECTION -->
        <br />
        <!-- PASSWWORD -->

        <mat-form-field class="example-half-width">
          <mat-label>Password</mat-label>
          <input
            type="password"
            matInput
            formControlName="password"
            placeholder="password"
          />
          <mat-error *ngIf="f.password.invalid && !f.password.required">
            Please enter a password
          </mat-error>
          <mat-error *ngIf="!f.password.required">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <!-- CONFIRM PASSWORD -->
        <mat-form-field class="example-half-width">
          <mat-label>Confirm your Password</mat-label>
          <input
            type="password"
            matInput
            formControlName="confirmPassword"
            placeholder="Confirm your Password"
          />
          <mat-error
            *ngIf="f.confirmPassword.invalid && !f.confirmPassword.mustMatch"
          >
            Please confirm your password
          </mat-error>
        </mat-form-field>
        <!-- END PASSWORD SECTION -->

        <br /><br />
        <div>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Fill out your address</ng-template>

        <!-- ADDRESS -->

        <mat-form-field>
          <mat-label>Address</mat-label>
          <input
            matInput
            formControlName="address"
            placeholder="Ex. 1 Main St, New York, NY"
            required
          />
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>Address 2</mat-label>
          <input
            matInput
            formControlName="address2"
            placeholder="Ex. 2 Main St, New York, NY"
            required
          />
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>Postal Code</mat-label>
          <input matInput formControlName="cp" placeholder="# 09873" required />
        </mat-form-field>

        <!-- END ADDRESS SECTION -->
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-raised-button color="primary">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-raised-button color="primary" (click)="onSubmit()">
          Submit
        </button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</mat-card>
