div.col-4 {
  margin-bottom: 30px;
}
div.container {
  margin-top: 50px;
}
div.design-carousel {
  margin-top: 60px;
}

table {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}

img.profile {
  width: 50%;
  align-items: center;
}

ng-container.tabledata {
  margin-bottom: 25px;
}
td.imagen {
  margin-bottom: 20px;
}
