div.col-4 {
  margin-bottom: 30px;
}
div.container {
  margin-top: 50px;
}
div.design-carousel {
  margin-top: 60px;
}
mat-card {
  margin: 20px;
}

table {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}
.mat-tab-group {
  margin-bottom: 48px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.8491771708683473) 0%,
    rgba(255, 255, 255, 0.85) 100%
  );
}
img.profile {
  width: 20%;
  align-items: center;
}

ng-container.tabledata {
  margin-bottom: 25px;
}
td.imagen {
  margin-bottom: 20px;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
