/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url("https://images.wallpaperscraft.com/image/leaf_branch_green_150599_3840x2400.jpg");
  background-size: cover;
}
